DATABASE_URL=postgres://postgres:nnmn3717@127.0.0.1:5432/tsupasswd_sync?options=-c%20client_encoding%3DUTF8%20-c%20lc_messages%3DC
TSUPASSWD_SYNC_DATABASE_URL=postgres://postgres:nnmn3717@127.0.0.1:5432/tsupasswd_sync?options=-c%20client_encoding%3DUTF8%20-c%20lc_messages%3DC
# DATABASE_URL=postgres://postgres:nnmn3717@127.0.0.1:5432/tsupasswd_sync
# TSUPASSWD_SYNC_DATABASE_URL=postgres://postgres:nnmn3717@127.0.0.1:5432/tsupasswd_sync
TSUPASSWD_SYNC_BIND=127.0.0.1:8088
TSUPASSWD_SYNC_JWT_SECRET=change-me-in-production
TSUPASSWD_SYNC_ENABLE_DEV_LOGIN=false
